@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  font-family: "Nunito", sans-serif;

  display: flex;
  justify-content: center;
}
body {
  height: 100vh;
  width: 650px;
  background-color: rgba(10, 10, 10, 0.1);
}
.two-sections {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.two-sections > div {
  height: 520px;
  width: 240px;
  margin: 40px;
  background-color: white;
  border-radius: 25px;
}

#status-bar {
  color: black;
  position: relative;
  width: 100%;
  margin: 20px 15px;
  height: 20px;
  display: flex;
}
#status-bar i:last-child {
  position: absolute;
  right: 30px;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 1px 1px 7px cornflowerblue;
  margin-bottom: 20px;
}
.profile span {
  margin-top: 5px;
}
.profile__title {
  font-size: 17px;
  font-weight: 800;
}
.profile__subtitle {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  font-weight: 600;
}
.buttons {
  display: flex;
}
