.buttons {
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.buttons__shuffle {
  box-shadow: 0px 1px 1px rgba(41, 39, 39, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 30px;
  border-radius: 20px;
  background-color: black;
  color: white;
}
.buttons__like {
  box-shadow: 1px 1px 1px rgba(41, 39, 39, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 75px;
  height: 30px;
  border-radius: 20px;
  margin-left: 23px;
}
.buttons__like i {
  margin-right: 5px;
}
