.song-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.song-list li {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  height: 40px;
  width: 190px;
  background-color: white;
  border-radius: 15px;
  font-size: 8px;
}
.song-list li > div {
  display: flex;
  align-items: center;
}

.song__img {
  margin-left: 7px;
  height: 30px;
  width: 30px;
  border-radius: 10px;
}
.song__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.song__titles > span {
  margin: 2.5px 14px;
}

.song__elipses {
  opacity: 40%;
  position: absolute;
  right: 8px;
}
.song-titles__title {
  font-weight: 700;
  font-size: 12px;
}

.song-playing {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  margin-left: 7px;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
@keyframes Loading {
  0% {
    padding-top: 0px;
  }
  50% {
    padding-top: 12px;
  }
  100% {
    padding-top: 0px;
  }
}
.loading-bar {
  position: absolute;
  bottom: 5px;
  padding-top: 0px;
  height: 3px;
  width: 3px;
  background-color: white;
  animation: Loading 1s ease infinite;
}
.loading-bar:first-child {
  left: 8.5px;
  animation-delay: 0.2s;
}
.loading-bar:last-child {
  right: 9px;
  animation-delay: 0.3s;
}
