.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 1px 2px 6px rgba(100, 149, 237, 0.5);
  margin-bottom: 20px;
}
.profile span {
  margin-top: 12px;
}
.profile__title {
  font-size: 20px;
  font-weight: 800;
}
.profile__subtitle {
  color: rgb(87, 83, 83);
  font-size: 10px;
  font-weight: 600;
}
