.range-bar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 25px;
  margin-top: 30px;
}
.range-bar-minutes {
  width: 100%;
  color: grey;
  font-size: 3px;
  display: flex;
  justify-content: space-between;
}
.range-bar {
  -webkit-appearance: none;
  width: 90%;
  height: 5px;
  border-radius: 20px;
  background: #b1b3b4ab;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ffffff;
  cursor: pointer;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border-radius: 50%;
}

.range-bar:focus {
  outline: none;
}
